<%= link_to "&larr; Back".html_safe, root_path %>
<section>
  <% if current_user %>
    <% @skills.each do |skill| %>
      <article>
        <h2><%= link_to skill.name, skill_path(skill) %></h2>

      </article>
    <% end %>
  <% end %>
</section>
